.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "leftGraphics headerGraphics rightGraphics"
        "leftGraphics content rightGraphics";
    height: 100%;

    @media (max-width: 768px) {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "headerGraphics"
            "content";
    }
}

.headerGraphics {
    grid-area: headerGraphics;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1vh;
}

.leftGraphics {
    grid-area: leftGraphics;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 12vh;

    @media (max-width: 768px) {
        display: none;
    }
}

.content {
    grid-area: content;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3vh 3vw 1vh 3vw;
}

.rightGraphics {
    grid-area: rightGraphics;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding-left: 2vw;

    @media (max-width: 768px) {
        display: none;
    }
}
