.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "headerGraphics headerGraphics headerGraphics"
        "leftGraphics content rightGraphics";
    height: 100%;
}

.headerGraphics {
    grid-area: headerGraphics;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3vh 1vw;
}

.leftGraphics {
    grid-area: leftGraphics;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.content {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightGraphics {
    grid-area: rightGraphics;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}
